@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro';
}

.navigation {
    background-color: black;
    color: white;
    max-height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 2;
}
.logo{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -12px;
    padding-left: 10px;
    
}
.logo.changed-style{
    position: relative;
}
.menu{
    margin-left: auto;
    padding-right: 30px;
}
.line1.changed-style{
    margin-left: auto;
    padding-right: 30px;
    width: 20px;
    transform: rotate(45deg);
    margin-top: 40px;
}
.line2.changed-style{
    margin-left: auto;
    padding-right: 30px;
    transform: rotate(-45deg);
    width: 20px;
    margin-top: -7px;
}
.line1{
    background-color: white;
    width: 50px;
    height: 8px;
    margin-top: 23px;
    transform: rotate(0deg);
    transition: all  0.3s ease;
}
.line2{
    background-color: white;
    width: 50px;
    height: 8px;
    margin-top: 20px;
    transform: rotate(0deg);
    transition: all  0.3s ease;
}
.catalog{
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 80px;
    left: 100%;
    transition: all  0.3s ease;
}
.catalog.changed-style{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 80px;
    left: 0%;
}
@keyframes fade-in {
    from {
        opacity: 0; /* Начальная прозрачность */
        margin-top: 20px
    }
    to {
        opacity: 1; /* Конечная прозрачность */
        margin-top: 0px;
    }
}
.text_catalog{
    display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30pt;
    color: white;
    z-index: 4;
    position: fixed;
    top: 35%;
  opacity: 0;
}

.text_catalog.changed-style{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    color: white;
    z-index: 4;
    position: fixed; 
    opacity: 1;
    animation: fade-in 1s ease-in-out forwards;
}
.text_catalog a{
    margin-top: 20px;
}
.white-block {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Set position to relative */
}
.AF1png{
    max-width: 300px;
    margin-top: 70px;
    margin-bottom: -70px;
}
.white-block h2{
    font-size: 35pt;
    margin-bottom: -10px;
    margin-top: -20px;
}
.white-block p{
    font-size: 10pt;
    color: gray;
    max-width: 300px;
    text-align: center;
}
.order_button {
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    color: #333;
    font-family: Source Code Pro;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 80px;
  }
#scrollButton{
    animation: fade-in 1s ease-in-out forwards;
    opacity: 0;
}




  @keyframes fade-in {
    from {
        opacity: 0; /* Начальная прозрачность */
        transform: translateY(20px); /* Начальное смещение вверх */
    }
    to {
        opacity: 1; /* Конечная прозрачность */
        transform: translateY(0); /* Конечное смещение вверх */
    }
}
#fade-in-object {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
#fade-in-object:nth-child(1) {
    animation-delay: 0s; /* Задержка для первого блока */
}

#fade-in-object:nth-child(2) {
    animation-delay: 0.1s; /* Задержка для второго блока */
}

#fade-in-object:nth-child(3) {
    animation-delay: 0.3s; /* Задержка для третьего блока */
}
#fade-in-object:nth-child(4) {
    animation-delay: 0.4s; /* Задержка для третьего блока */
}
#scrollButton {
    animation-delay: 0.5s; /* Задержка для третьего блока */
}





.grey-block {
    background-color: #f5f5f5;
    height: 100vh; /* 100% of the viewport height */
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }



  @keyframes fade-in2 {
    from {
        opacity: 1; /* Начальная прозрачность */
        transform: translateY(0px); /* Начальное смещение вверх */
    }
    to {
        opacity: 0; /* Конечная прозрачность */
        transform: translateY(-20px); /* Конечное смещение вверх */
    }
  }
.row.changed-style:nth-child(2) {
    animation-delay: 0.1s; /* Задержка для второго блока */
}
.row.changed-style:nth-child(3) {
    animation-delay: 0.2s; /* Задержка для второго блока */
}
.row.changed-style:nth-child(4) {
    animation-delay: 0.3s; /* Задержка для второго блока */
}

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .row.changed-style{
    animation: fade-in2 0.5s ease-in-out forwards;
  }




  .row p{
    color: gray;
  }
  
  .panel {
    border: 1px solid #ccc;
    padding: 13px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 120px;
  }
  
  .send-button {
    padding-left: 30px;
    padding-right: 30px;
    height: 55px;
    width: 145px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    color: #333;
    font-family: Source Code Pro;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  



.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer h1{
    color: gray;
    font-size: 13pt;
}
.footer h2{
    color: gray;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 9pt;
    font-weight: 600;
}






.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .checkmark {
    width: 80px;
    height: 80px;
    position: relative;
  }
  
  .checkmark-stem, .checkmark-kick {
    position: absolute;
    background-color: green;
  }
  
  .checkmark-stem {
    width: 10px;
    height: 0px;
    border-radius: 5px;
    top: -2px;
    left: -40px;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: drawCheckmark 0.5s ease-in forwards;
  }
  
  .checkmark-kick {
    width: 10px;
    height: 0px;
    border-radius: 5px;
    top: 66px;
    left: 18px;
    transform-origin: top right;
    transform: rotate(-145deg);
    animation-delay: 1s;
    animation: drawCheckmark2 0.5s ease-out forwards 0.5s;
  }
  
  .thank-you {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: green;
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes drawCheckmark {
    to {
        height: 105px;
    }
  }
  @keyframes drawCheckmark2 {
    to {
        height: 150px;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  